

<app-invoice-form (invoiceAddedEvent) = "addInvoice($event)"></app-invoice-form>
<jce-spinner [visible] = "isLoading"></jce-spinner>
<div>
   <ul class="list-group invoices">
     <li *ngFor = "let invoice of invoices"  
       [class.active]="currentInvoice == invoice" 
       (click) = "select(invoice)"
        class="list-group-item">
       <app-invoice [invoice] = "invoice" 
       (deleteEvent) = "deleteInvoice($event)"
       (editEvent) = "updateInvoice($event)"></app-invoice>
 
     </li>
   </ul>
 </div>

 