
    <h2>Add User</h2>
  <form (ngSubmit) ="onSubmit(f)" #f = "ngForm" >
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"
              class="form-control"
              id="name"
              name="name"
              required 
              [(ngModel)] = "user.name">
    </div>
    <div class="form-group">
      <label for="email">EMail</label>
      <input type="text"
              class="form-control"
              id="email"
              name="email"
              [(ngModel)] = "user.email">      
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>

