<span *ngIf = "!isEdit" >Name: {{invoice.name}}, Amount:  {{invoice.amount}}</span> 
  <span *ngIf = "isEdit"> 
    Name: <input type = "text" [(ngModel)] = "invoice.name"> 
    Amount: <input type = "text" [(ngModel)] = "invoice.amount">
  </span>
  <button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button> 
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 